#include <windows.h>
#include <dlgs.h>
#include "resource.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

1 ICON "htmlconv.ico"

1 DIALOG 0, 0, 310, 275
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "HTML文字コード一括変換（HTMLCONV） ver. 1.4.1"
FONT 9, "ＭＳ Ｐゴシック"
{
	CONTROL "変換先の文字コード(&O):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 80, 12 
	CONTROL "", cmb1, "ComboBoxEx32", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 5, 60, 80
	CONTROL "変換先の改行コード(&N):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 160, 7, 80, 12 
	CONTROL "", cmb2, "ComboBoxEx32", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 245, 5, 60, 80
	CONTROL "参照CSSも変換(&S)", chx1, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 25, 70, 14 
	CONTROL "参照jsも変換(&J)", chx2, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 235, 25, 70, 14 
	CONTROL "バックアップを作成する(&B)", chx3, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 45, 143, 14 
	CONTROL "変換するファイルのリスト(&L):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 90, 12 
	CONTROL "※ここに変換したいファイルやフォルダをドロップしてください。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 100, 67, 205, 12 
	CONTROL "", ctl1, "SysListView32", LVS_REPORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP, 5, 80, 300, 150
	CONTROL "選択項目をリストから削除(&D)", psh1, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 235, 140, 14 
	CONTROL "すべて削除(&A)", psh2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 225, 235, 80, 14 
	CONTROL "変換(&C)", psh3, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 255, 80, 14 
	CONTROL "終了(&X)", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 225, 255, 80, 14 
}

2 DIALOG 0, 0, 355, 210
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "変換中..."
FONT 9, "ＭＳ Ｐゴシック"
{
	CONTROL "", edt1, EDIT, ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 5, 5, 345, 180 
	CONTROL "キャンセル(&C)", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 275, 190, 75, 14 
}

STRINGTABLE
{
	IDS_SUCCESS, "成功: %s\r\n"
	IDS_OUTOFMEMORY, "失敗: %s\r\nエラー - メモリ不足。\r\n"
	IDS_CANNOT_OPEN, "失敗: %s\r\nエラー - ファイルが開けませんでした。\r\n"
	IDS_CANNOT_WRITE, "失敗: %s\r\nエラー - ファイル書き込みに失敗。\r\n"
	IDS_CANNOT_CREATE_BACKUP, "失敗: %s\r\nエラー - バックアップ作成に失敗。\r\n"
	IDS_STAT, "\r\n---\r\n%d個の成功、%d個の失敗。\r\n変換処理を終了しました。\r\n"
	IDS_START, "変換を開始しました。\r\n---\r\n"
	IDS_CANNOT_START_THREAD, "スレッドを開始できませんでした。"
	IDS_CANCELLED, "\r\n---\r\n変換はキャンセルされました。\r\n"
}

1 24 "htmlconv.exe.manifest"
